*{
    margin : 0;
    padding : 0;
}
body{
    height: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 1000px;
    height: 1000px;
    justify-content: center;
    align-items: center;
    position: absolute;
}
h3{
    margin: 0.7rem 0;
}
h4{
    color: gray;
    font-size: small;
}
p{
    font-size: 2;
    margin: 0.7rem 0;
}
.cards{
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 280px);
    grid-gap: 20px;
    pointer-events: auto;
    display: flex;
}
.card{
    position: relative;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}
.card-content{
    color: black;
    padding: 10px;
}
